NEUDEV_API_KEY=replace-me
NEUDEV_HOST=0.0.0.0
NEUDEV_HTTP_PORT=8765
NEUDEV_WS_PORT=8766
NEUDEV_WORKSPACE=/teamspace/studios/this_studio/neu-dev
NEUDEV_SESSION_STORE=/teamspace/studios/this_studio/.neudev/hosted_sessions
NEUDEV_OLLAMA_HOST=http://127.0.0.1:11434
NEUDEV_MODEL=auto
NEUDEV_AGENT_MODE=parallel
NEUDEV_LANGUAGE=English
NEUDEV_BOOTSTRAP=0
NEUDEV_AUTO_PERMISSION=0
NEUDEV_DISABLE_WEBSOCKET=0
NEUDEV_HOSTED_RUN_COMMAND_MODE=restricted
NEUDEV_HOSTED_RUN_COMMAND_ALLOWLIST=
